<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <div class="col-lg-4">
  <h4>Latency</h4>
  <p>
    Evaluates regional latency and compares it to your target site
  </p>
  </div>

  <div class="col-lg-4">
  <h4>Outdated technologies</h4>
  <p>
    Implicates websites with outdated techologies
  </p>
  </div>
  <div class="col-lg-4">
  <h4>Lifespan</h4>
  <p>Evaluates technology lifespan information and analyses trends</p>
  </div>
</div>
