<div id="container">
<div id="padding">
  <div class="col-lg-4">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"></span>
    <input type="text" class="form-control" placeholder="Country" aria-describedby="basic-addon1">
  </div>
  </div>
  <div class="col-lg-4">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"></span>
      <input type="text" class="form-control" placeholder="Line of business" aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="col-lg-4">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"></span>
      <input type="text" class="form-control" placeholder="Company name" aria-describedby="basic-addon1">
    </div>

  </div>
  <canvas id="bar" class="chart chart-bar" data="tieto"
          labels="otsikko" legend="true" series="sarja"
          click="onClick">
  </canvas>
</div>
</div>
