<div id="container">
  <div id="padding">
    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon"></span>
        <input type="text" class="form-control" placeholder="Country">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon"></span>
        <input type="text" class="form-control" placeholder="Line of business">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon" ></span>
        <input type="text" class="form-control" placeholder="Company name">
      </div>

      <div id="grad" ang:chartjs:doughnut
           data-chartjs-model="donut"
           data-chartjs-width="340"
           data-chartjs-segment-show-stroke="false"
           data-chartjs-height="400"
        >
      </div>
    </div>
</div>
  </div>
