<div id="container">
  <div id="padding">
    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon"></span>
        <input type="text" class="form-control" placeholder="Country">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon"></span>
        <input type="text" class="form-control" placeholder="Line of business">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon" ></span>
        <input type="text" class="form-control" placeholder="Company name">
      </div>
    </div>
    <canvas id="doughnut" class="chart chart-doughnut" data="data" labels="labels"></canvas>

</div>
  </div>
